@using MVCDay2Learn.ViewModel
@model EmployeelistViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmployee</title>
</head>
<body>
    Hello @Model.UserName
    <hr />
    @*<div>
            Employee Name :@Model.EmployeeName <br />
            <span style="background-color:@Model.SalaryColor">
                Employee Salary : @(Model.Salary)<br />
            </span>

        </div>*@

    <div>
        <table>
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>

            @foreach (EmployeeViewModel item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td style="background-color:@item.SalaryColor">@item.Salary</td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
